<h1>Welcome to CSI Products!</h1>

<p>
<%= link_to "Login", login_path %> <!-- custom helper URL -->
OR
<%= link_to "Signup", signup_path %> <!-- custom helper URL -->
OR
<%= link_to "Signin with Google", "/auth/google_oauth2" %>
</p>

<img src="https://res.cloudinary.com/tracyr/image/upload/c_scale,h_300/v1574879110/blank-bottle_xujahe.jpg">