<h1><%= @product.active_ingredient %></h1>

<% if @product.image.attached? %>
    <%= image_tag url_for(@product.image) %>
<% end %>

<h2><%= @product.chem_group.name %></h2>

<p><%= @product.description %></p>