<p><%= flash[:error] %></p>

<h1>All Reviews</h1>

<ul>
    <% @reviews.each do |review| %>
        <li><%= review.product.active_ingredient %>: <%= link_to review.title, review_path(review) %> - <%= review.rating %></li>
    <% end %>
</ul>